h2, h3 {
    text-align: center;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightsteelblue;
}

main {
    margin-top: 70px;
}

nav {
    background-color: white;
    line-height: 3;
    text-indent: 10px; 
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: fit-content;
}

.heading {
    font-size: larger;
    color: black;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    left: 55px;
    top: 2px;
}

.pagelink {
    font-size: large;
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
    left: 70%;
    top: 2px;
    
}

.pagelink:hover, .heading:hover {
    color: rgb(150, 150, 150)
}

.pfp {
    background-color: white;
    height: 50px;
    position: absolute;
    left: 3px;
    top: 3px;
}

#sectionskill {
    position: relative;
    object-position: center;
    width: 100%;
}

.skill {
    margin: 3px 7px 3px 7px;
    width: fit-content;
    position: relative;
    display: inline-block;
}

.kiddoimage {
    width: 40%;
}

#kiddotable {
    border: 0px;
    text-align: left;
    display: flex;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
}

dd strong {
    font-weight: 400;
}

footer {
    background-color: lightblue;
    padding-bottom: 30px;
    padding-top: 30px;
    font-size: 12px;
}

footer section {
    margin-left: 15px;
}