h2, h3 {
    text-align: center;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightsteelblue;
}

.title {
    padding-right: 590px;
}

.myinfo {
    text-align: right;
}

nav {
    background-color: whitesmoke;
    line-height: 3;
    text-indent: 10px; 
    position: fixed
}

.pagelink {
    font-size: large;
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding: 4px;
    margin-bottom: 10px;
    position: relative;
    left: 55px;
    top: 10px;
}

.pagelink:hover {
    color: rgb(150, 150, 150)
}

.pfp {
    background-color: whitesmoke;
    height: 50px;
    position: relative;
    left: 3px;
    top: 3px;
}

.kiddoimage {
    width: 40%;
}

#kiddotable {
    border: 0px;
    text-align: left;
    display: flex;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
}

dd strong {
    font-weight: 400;
}

footer {
    background-color: lightblue;
    padding-bottom: 30px;
    padding-top: 30px;
    font-size: 12px;
}

footer section {
    margin-left: 15px;
}